/*common_page.css*/

body{overflow-x: hidden;}
#wrap{margin: auto; width:61.25rem; height:53.125rem;}
/* ======================================== */
#homeBox:before, #homeBox::before, 
#footBox:before, #footBox::before
{content:" "; display: block;position: absolute; 
 z-index: -1; top: 0; left: 50%; margin-left:-50vw;
 width: 100vw; height: 100%;background-color:inherit; }
/* ======================================== */
.box_wrap{width:100%; height:auto; min-height:40rem;}
/* #headBox ================================== */